*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    width: 1148px;
    padding: auto;
    margin: auto;
}
header{
    background-image: url(../img/coffee\ clogan\ img.png);
    background-repeat: no-repeat;
    background-size: cover;
}
/* НАВ */
.navigation{
    display: flex;
    padding-top: 50px;
}

nav li{
    align-items: center;
    display: flex;
}
nav li a{
    font-size: 18px;
    font-weight: normal;
    font-family: 'Open Sans';
    text-decoration: none;
    margin-right: 48px;
    color: #999999;
    white-space: nowrap;
}
nav li a:last-child{
    margin-right: 0px;
}
nav li a:hover{
    color: white;
    transition: 0.3s ease-in-out;
}
.nav-logo{
    margin-right: 331px;
}
.nav-homebutton{
    color: #FF4B32;
    font-weight: bold;
}
/* СЛОГАН ИЛИ КАК ЕГО ТАМ */
.coffee-slogan{
    padding-bottom: 155px;
}
.coffee-slogan h1{
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    font-size: 58px;
    width: 524px;
    padding-top: 130px;
}
.coffee-slogan p{
    color: #CCCCCC;
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 20px;
    width: 506px;
    padding-top: 36px;
    padding-bottom: 74px;
}
.coffee-slogan a{
    font-size: 18px;
    font-family: 'Open Sans';
    color: white;
    text-decoration: none;
    padding: 16px 35px;
    background-color: #FF4B32;
    border-radius: 5px;
}
.coffee-slogan a:hover{
    color: black;
    background-color: white;
    transition: 0.3s ease-in-out;
}

/* НАЧАЛО МЭЙНА */

.number {
	display: inline-block;
	user-select: none;
	position: relative;
	text-align: left;
	padding: 0;
	width: 114px;
	border: 1px solid #ddd;
	height: 57px;
}
.number-controls {
	position: absolute;
	top: 0;
	right: 0;
	width: 58px;
	border-left: 1px solid #ddd;
}
.number-minus, .number-plus {
	display: block;
	height: 27px;
	line-height: 27px;
	background: #faf4f2;
	font-size: 20px;
	font-weight: 600;
	text-align: center;
	font-family: arial;
	color: black;
	text-decoration: none;
}
.number-plus {
	border-bottom: 1px solid #ddd;
}
.number-minus:hover, .number-plus:hover {
	background: #fffcfb;
}
.number-minus:active, .number-plus:active {
	background: #e8e4e2;
}
.number-text {
	display: inline-block;
	padding: 0;
	margin: 0;    
	width: 33px;
	height: 55px;
	line-height: 55px;        
	font-size: 24px;
	color: #29160a;
	background: #fff;
	outline: none;
	border: none;
	text-align: right;
}

.main-coffee-buy{
    padding-top: 140px;
    display: flex;
    justify-content: space-between;
}
.main-coffee-buy_text h2{
    color: black;
    font-family: 'Josefin Sans';
    font-weight: 600;
    font-size: 43px;
}
.main-coffee-buy_text p{
    color: #4d4d4d;
    font-family: 'Open Sans';
    font-size: 18px;
    font-weight: 400;
    opacity: 0.7;
    padding-top: 20px;
}

.main-coffee-buy_arrows a{
    font-size: 46px;
    color: #FF4B32;
    opacity: 0.6;
    margin-right: 20px;
}
.main-coffee-buy_arrows a:last-child{
    margin-right: 0px;
}
.main-coffee-buy_arrows a:hover{
    color: #FF4B32;
    opacity: 1;
    transition: 0.3s ease-in-out;
}
.main-coffee-product{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 60px;
}
/* .main-coffee-product-one, .main-coffee-product-two, .main-coffee-product-three{
    width: 542px;
} */
.main-coffee-product_button{
    color: white;
    font-family: 'Josefin Sans';
    background-color: #FF4B32;
    font-size: 18px;
    font-weight: bold;
    border: 2px solid #FF4B32;
    border-radius: 5px;
    text-decoration: none;
    padding: 15px 30px;
    margin-left: 20px;
    text-align: center;
}
.main-coffee-product_button:hover{
    background-color: white;
    color: black;
    border: 2px solid black;
    transition: 0.3s ease-in-out;
}
.main-coffee-product_numb{
    padding-top: 30px;
}
.main-coffee-product_price{
    padding-top: 35px;
    font-weight: bold;
    font-size: 24px;
    font-family: 'Josefin Sans';
    color: black;
}
.main-coffee-product-one h3, .main-coffee-product-two h3, .main-coffee-product-three h3{
    padding-top: 10px;
    font-family: 'Josefin Sans';
    font-weight: 600;
    font-size: 32px;
}
.main-coffee-product_descr{
    font-weight: 400;
    font-family: 'Open Sans';
    font-size: 16px;
    color: black;
    opacity: 0.6;
    padding-top: 15px;
}
.coffee-gallery{
    padding-top: 140px;
}
.coffee-gallery-text h2{
    color: black;
    font-family: 'Josefin Sans';
    font-size: 43px;
    font-weight: 600;
    text-align: center;
}
.coffee-gallery-text p{
    color: black;
    opacity: 0.7;
    font-family: 'Open Sans';
    text-align: center;
    font-size: 18px;
    padding-top: 20px;
}
.coffee-gallery-images{
    padding-top: 60px;
}

.coffee-gallery-images{
    display: flex;
}
.coffee-gallery-img_padd{
    padding-top: 18px;
}
.coffee-gallery-button{
    padding-top: 60px;
    display: flex;
    justify-content: center;
}
.coffee-gallery-button a{
    text-decoration: none;
    font-family: 'Open Sans';
    font-weight: normal;
    color: #FF4B32;
    font-size: 18px;
    display: flex;
    justify-content: center;

    border: 2px solid transparent;
    border-top: solid black;
    border-bottom: solid black;
    width: 400px;
    padding: 15px 0;
}
.coffee-gallery-button a:hover{
    color: black;
    border: 2px solid transparent;
    border-top: solid #FF4B32;
    border-bottom: solid #FF4B32;
    transition: 0.3s ease-in-out;
}
.coffee-connection{
    margin-top: 140px;
    background-image: url(../img/connection-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.coffee-connection_all{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.coffee-connection_all p:first-child{
    padding-top: 100px;
    color: #FF4B32;
    font-size: 24px;
    font-weight: 600;
    font-family: 'Open Sans';
    padding-bottom: 25px;
    border-bottom: 2px solid #FF4B32;
}
.coffee-connection_text h2{
    padding-top: 40px;
    font-family: 'Josefin Sans';
    font-size: 43px;
    font-weight: 600;
    color: white;
    text-align: center;
    line-height: 130%;
}
.coffee-connection_text p{
    font-weight: 400;
    font-family: 'Open Sans';
    font-size: 24px;
    color: white;
    text-align: center;
}
.coffee-connection_text p{
    padding-top: 60px;
}
.coffee-connection_text p:last-child{
    padding-top: 25px;
}
.coffee-connection_img{
    padding-top: 30px;
    padding-bottom: 100px;
}
.coffee-connection_img a{
    margin-right: 20px;
}
.coffee-connection_img a:last-child{
    margin-right: 0px;
}
.update-news_text h2{
    font-weight: 600;
    font-size: 43px;
    font-family: 'Josefin Sans';
    text-align: center;
    padding-top: 140px;
}
.update-news_text p{
    font-weight: 400;
    font-family: 'Open Sans';
    font-size: 18px;
    color: black;
    opacity: 0.7;
    text-align: center;
    padding-top: 20px;
}
.news-cards{
    padding-top: 60px;
    display: flex;
    justify-content: space-between;
}
.cards{
    transition: 0.4s;
    border-radius: 20px;
    box-shadow: 40px 15px 136px rgba(0, 0, 0, 0.2);
    padding-bottom: 30px;
}
.cards:hover{
    transform: scale(1.1);
}
.cards h2{
    font-family: 'Josefin Sans';
    color: black;
    font-size: 32px;
    font-weight: 600;
    padding-top: 30px;
    padding-left: 30px;
}
.cards p{
    font-weight: 400;
    font-family: 'Open Sans';
    color: black;
    opacity: 0.7;
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 30px;
}
.cards a{
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 16px;
    color: #FF4B32;
    text-decoration: none;
    margin-left: 30px;
}
.cards a i {
    text-align: center;
}
/* Футер */
footer{
    background-image: url(../img/footer-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 140px;
}
.footer-descr{
    padding-top: 78px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
    border-bottom: 1px solid #4d4d4d;
}
.footer-logo p{
    color: white;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 18px;
    padding-top: 30px;
}
.footer-logo img{
    padding-right: 10px;
}
.footer-categories h3, .footer-information h3, .footer-links h3, .footer-logo h3{
    color: white;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 24px;
}
.footer-categories a{
    color: white;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 18px;
    margin-top: 20px;
    text-decoration: none;
    display: flex;
    flex-direction: column;
}
.footer-information a{
    color: white;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 18px;
    margin-top: 20px;
    text-decoration: none;
    display: flex;
    flex-direction: column;
}
.footer-links_link{
    margin-top: 46px;
}
.footer-links_link a{
    margin-right: 30px;
}
.footer-links_link a:last-child{
    margin-right: 0;
}
.copyright{
    padding-top: 25px;
    padding-bottom: 50px;
}
.copyright p{
    color: white;
    font-family: 'Open Sans';
    font-size: 16px;
    text-align: center;
}